$--default-font: "Roboto", Arial, sans-serif;
$--font-size: 14px;
$--font-weight: 400;
$--font-color: #1a1a1a;
$--font-color-link: rgb(146, 146, 146);

$--menu-text-color: #f5f5f5;
$--menu-link-color: rgb(146, 146, 146);
$--menu-bg-color: #262626;
$--menu-burger-bg-color: #1b1b1b;
$--menu-burger-line-color: #929292;

$--content-font-color: #1a1a1a;
$--content-btn-color: #262626;
$--content-btn-hover-color: #4b4b4b;
$--content-focus-border: 1px solid #1a1a1a;
$--content-input-border: 1px solid #dbdbdb;
$--content-hr-color: #e5e5e5;

$--breakpoint-mb-xxl: 425px;
$--breakpoint-tab: 500px;
$--breakpoint-tab-xxl: 768px;
